<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="heading-block bottom-margin-default">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="cart-steps-holder">
        <div class="thankyou-holder text-center">
          <div class="thankyou-outer">
            <div class="thankyou-inner">
              <h1 class="green">
                <strong class="thankyou-heading text-upeprcase">THANK YOU!</strong>
                <div class="checkmark-icon"><i class="fa fa-check"></i></div>
              </h1>
              <div class="order-breif-detail">
                <p>You have successfully placed an order at <a class="red" [routerLink]="['/']">E-Commerce</a></p>
                <p>Your order number is: <strong class="order-number">{{orderNumber}}</strong></p>
                <p>For further queries feel free to contact us at: <a href="tel:00 123 456 7891"></a></p>
              </div>
              <div class="btn-holder">
                <a class="btn btn-primary btn-style" [routerLink]="['/']">Go Back E-Commerce</a>
                <!--<a class="btn btn-primary" href="our-products.html">Shop More</a>-->
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
