<!-- Breadcrumb -->
<div class="container-web relative">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="breadcrumb-web">
          <ul class="clear-margin">
            <li class="animate-default title-hover-red"><a href="">Home</a></li>
            <li class="animate-default current">Return Refund Policy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->
<!-- Content Category -->
<div class="relative container-web text-intro bottom-margin-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bottom-margin-default">
        <h3><strong>Fast Returns – Easy Refunds – Convenience Perfected!</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Lorem ipsum dolor sit amet?</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Nam tristique convallis ultrices?</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Quisque non dictum nisl?</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">In felis quam, aliquet at fringilla vel?</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Lorem ipsum dolor sit amet?</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Nam tristique convallis ultrices?</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Quisque non dictum nisl?</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">In felis quam, aliquet at fringilla vel?</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
      </div>
    </div>
    <br />
    <span class="error">Note: Change on mind is not applicable on sealed items (E.g Mobile Phones)</span>
    <br /><br />
  </div>
</div>
<!-- End Sider Bar -->
