<div class="box-product full-width mb-30" *ngIf="parentPopularCategoryList != undefined && parentPopularCategoryList.length > 0" (deferLoad)="deferLoadShow = true">
  <ng-container *ngIf="deferLoadShow">
    <div class=" container relative">
      <div class="row">
        <div class="slider-heading">
          <div class="col-sm-6 col-xs-7"><h3>Popular Category</h3></div>
          <div class="col-sm-6 col-xs-5 text-right">
            <!--<a href="#">Shop More <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="relative bestvendors">
          <div class="good-deal-product popular-products">
            <owl-carousel [options]="carouselOptions" [carouselClasses]="['popular-product-carousel', 'home-product-carousel', 'owl-carousel', 'owl-theme']">
              <ng-container *ngFor="let category of parentPopularCategoryList; let i = index">
                <div class="item">
                  <div *ngFor="let childCategory of category.subCategory" class="clearfix border-collapsed-element relative logo-brand-son">
                    <a [routerLink]='["/", childCategory.url]'>
                      <h3>{{childCategory.categoryName}}</h3>
                      <!--<p>{{childCategory.productCount}} Products</p>-->
                      <img src="{{childCategory.imagePath}}" onError="this.onerror=null;this.src='/no-image.png';" />
                      <!--<img src="{{imageServerPath}}Images/CategoryImages/{{childCategory.categoryID}}-lg.jpg" onError="this.onerror=null;this.src='/no-image.png';" alt="">-->
                    </a>
                  </div>
                </div>
              </ng-container>
            </owl-carousel>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
