<div class="container brands">
  <div class="row">
    <div class="bestcollection">
      <img src="../assets/images/bestcollection.png" alt="">
    </div>
    <div class="topbrands">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#topbrands" aria-controls="topbrands" role="tab" data-toggle="tab">Top Brands</a></li>
        <li role="presentation"><a href="#fashionbrands" aria-controls="fashionbrands" role="tab" data-toggle="tab">Fashion Brands</a></li>
        <li role="presentation"><a href="#electronicsbrands" aria-controls="electronicsbrands" role="tab" data-toggle="tab">Electronics Brands</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="topbrands">
          <ul>
            <li><img src="../assets/images/brand1.png" alt=""></li>
            <li><img src="../assets/images/brand2.png" alt=""></li>
            <li><img src="../assets/images/brand3.png" alt=""></li>
            <li><img src="../assets/images/brand4.png" alt=""></li>
            <li><img src="../assets/images/brand5.png" alt=""></li>
            <li><img src="../assets/images/brand6.png" alt=""></li>
            <li><img src="../assets/images/brand7.png" alt=""></li>
            <li><img src="../assets/images/brand8.png" alt=""></li>
            <li><img src="../assets/images/brand9.png" alt=""></li>
            <li><img src="../assets/images/brand10.png" alt=""></li>
            <li><img src="../assets/images/brand11.png" alt=""></li>
            <li><img src="../assets/images/brand12.png" alt=""></li>
            <li><img src="../assets/images/brand13.png" alt=""></li>
            <li><img src="../assets/images/brand14.png" alt=""></li>
            <li><img src="../assets/images/brand15.png" alt=""></li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="fashionbrands">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        <div role="tabpanel" class="tab-pane" id="electronicsbrands">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
      </div>
    </div>
    <div class="fashionshoes">
      <img src="../assets/images/fashionshoes.png" alt="">
    </div>
  </div>
</div>
<div class="container bannerad">
  <div class="row">
    <a href="#">
      <img src="../assets/images/bannerad2.png" alt="">
    </a>
  </div>
</div>
