 <!-- Breadcrumb -->
<div class="container-web relative">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="breadcrumb-web">
          <ul class="clear-margin">
            <li class="animate-default title-hover-red"><a href="/">Home</a></li>
            <li class="animate-default current">About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->
<!-- Content Category -->
<div class="relative container-web text-intro bottom-margin-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bottom-margin-default">
        <h3><strong>About Us</strong></h3>
        <p>E-Commerce it is an emerging online shopping and selling hub of Pakistani E-Commerce. A subsidiary of E-Commerce Chemicals Group Pakistan, E-Commerce has the potential to become the ultimate online shopping destination for people of Pakistan and elsewhere. With availability of 4000 SKUs  at present , E-Commerce plans to move the number of SKUs to millions. Customers can buy, sell and register themselves as vendors at E-Commerce.  E-Commerce is working to make your dreams come true by ensuring availability of range of accessories at your doorstep.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="graybox">
          <h4><strong>Our Mission</strong></h4>
          <p>Our mission is to facilitate business everywhere irrespective of scale of business , and to connect the buyer with the seller and to ensure that everyone benefits from this interaction.  Phasellus sed libero sapien. Maecenas feugiat accumsan nulla. Vestibulum consectetur nisi vitae risus convallis, eget faucibus ex consectetur. Maecenas eros nibh, iaculis vitae dolor vel, </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="graybox">
          <h4><strong>Our Vision</strong></h4>
          <p>Our mission is to facilitate business everywhere irrespective of scale of business , and to connect the buyer with the seller and to ensure that everyone benefits from this interaction.  Phasellus sed libero sapien. Maecenas feugiat accumsan nulla. Vestibulum consectetur nisi vitae risus convallis, eget faucibus ex consectetur. Maecenas eros nibh, iaculis vitae dolor vel, </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="graybox">
          <h4><strong>Our Core Values</strong></h4>
          <p>Our mission is to facilitate business everywhere irrespective of scale of business , and to connect the buyer with the seller and to ensure that everyone benefits from this interaction.  Phasellus sed libero sapien. Maecenas feugiat accumsan nulla. Vestibulum consectetur nisi vitae risus convallis, eget faucibus ex consectetur. Maecenas eros nibh, iaculis vitae dolor vel, </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Sider Bar -->
