 <!-- Breadcrumb -->
<div class="container-web relative">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="breadcrumb-web">
          <ul class="clear-margin">
            <li class="animate-default title-hover-red"><a href="">Home</a></li>
            <li class="animate-default current">Terms & Conditions</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->
<!-- Content Category -->
<div class="relative container-web text-intro bottom-margin-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bottom-margin-default">
        <h3><strong>Terms & Conditions</strong></h3>
        <p>Welcomes you to one of the best online shopping portal of Pakistan. These terms and conditions (“Terms and Conditions”) are applicable not only to the Site, but all of its subsidiaries, divisions, and affiliate operated websites which reference these Terms and Conditions.</p>
        <p>Your access to the site is subject to your understanding and acceptance of following Terms and Conditions. However, you’re requested to discontinue the utilization of the site if you do not accept the Terms and Conditions.</p>
        <p>The Site reserves the correct to add, remove, change, or modify any clause of the Terms and Conditions anytime while not providing any previous notice. The changes, modification, removal and addition of any info on the location are thought-about effective from the time it’s announce. Users are suggested to often check the Terms and Conditions of the location to remain updated. If you still use the site even when changes, then it’ll represent as your acceptance of revised/changed Terms and Conditions.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Use of The Site</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Order Acceptance and Pricing</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Trademarks and Copyrights</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Electronic Communication</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Termination</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">User Submission</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Payments Procedure</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Limitation of Liability</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <i class="fa fa-angle-down"></i>
              <span class="title-name">Applicable Law and Jurisdiction</span>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique convallis ultrices. Quisque non dictum nisl, non dapibus eros. In felis quam, aliquet at fringilla vel, elementum sed nisl. Nam volutpat imperdiet venenatis. Donec non posuere enim, sed gravida tortor. Aenean pharetra iaculis neque. Nullam sem tellus, feugiat in velit ac, accumsan bibendum nunc. Maecenas vel rutrum nulla. Cras at ligula eleifend, semper elit eget, lacinia nisi. Integer quis efficitur turpis. In feugiat metus vitae felis efficitur, ac sagittis tellus dapibus. Aliquam tincidunt neque non ipsum tincidunt maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div><!-- END OF TOGGLE -->
      </div>
    </div>
    <br /><br />
  </div>
</div>
<!-- End Sider Bar -->
