<main id="main" role="main">
  <div class="relative full-width">
    <div class="relative whitebody mb-30">

    </div>
    <div class="forgot-password">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="forgot-password-block">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                  <div class="forgot-password-holder">
                    <h3><strong>Reset Password</strong></h3>
                    <p>Enter your email and new password to reset your password.</p>
                    <form class="forgot-password-form" (ngSubmit)="f.form.valid && ResetPassword()" #f="ngForm" novalidate>
                      <div class="">
                        <input type="text"
                               name="email"
                               autocomplete="off"
                               placeholder="Enter email here..."
                               [(ngModel)]="emailForgotPassword"
                               #email="ngModel"
                               pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                               required>
                      </div>
                      <div class="" *ngIf="(f.submitted || email?.touched) && email?.invalid">
                        <div *ngIf="email.errors.required"><span class="text-danger">Email Address is required</span></div>
                        <div *ngIf="email.errors?.pattern"><span class="text-danger">Email is invalid</span></div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="">
                        <input type="password" name="newPassword" placeholder="New Password" autocomplete="off"
                               autocomplete="new-password" accept=""
                               [(ngModel)]="forgotNewPassword" #newPassword="ngModel"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                               [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required>
                      </div>
                      <div  *ngIf="(f.submitted || newPassword?.touched)  && newPassword?.invalid" class="invalid-feedback">
                        <div *ngIf="newPassword.errors.required">
                          <span class="text-danger">Password is required</span>
                        </div>
                        <div *ngIf="newPassword.errors.pattern">
                          <span class="text-danger">Must contain at least one number and one uppercase and lowercase letter, and at least 8 characters</span>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="">
                        <input type="password" class="form-control"
                               name="confirmPassword"
                               placeholder="Confirm New Password"
                               [(ngModel)]="forgotConfirmPassword"
                               #confirmPassword="ngModel"
                               [ngClass]="{ 'is-invalid': f.submitted && confirmPassword?.invalid }" required>
                      </div>
                      <div  *ngIf="(f.submitted || confirmPassword?.touched) && confirmPassword?.invalid" class="invalid-feedback">
                        <div *ngIf="confirmPassword.errors.required">
                          <span class="text-danger">Confirm password is required</span>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="">
                        <div class="row">
                          <div class="col-sm-6 col-xs-12">
                            <button type="submit" [disabled]="!isSubmitted" class="btn btn-primary">RESET PASSWORD</button>
                          </div>
                          <div class="col-sm-6 col-xs-12">
                            <div class="links-holder">
                              <div class="pull-right">Already a Member? <a href="javascript:void(0)" [routerLink]="['/login']">Sign In</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
<!-- Footer Box -->
