.navigation {
  padding: 10px 0 0;
  background: #fff;
  border: solid 1px #e0e0e0;
  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
}

.navigation ul li a {
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
  padding: 0 20px;
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.navigation ul li a:hover, .navigation ul li a.active {
  background: #f9f9f9;
  font-weight: 600;
  color: #b61f24;
  border-left: solid 3px #b61f24;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  text-decoration: none;
}

.navigation ul li a.active:after {
  width: 34px;
  content: "";
  position: absolute;
  top: -1px;
  right: -33px;
  bottom: -1px;
  background: #f9f9f9;
  border: solid #e6e6e6;
  border-width: 1px 0;
  z-index: 1;
}

.customer-detail-block {
  min-height: 490px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

.customer-detail-block h4 {
  margin: 0 0 21px;
}

.customer-detail-block h4 .sub-text {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
}

.whitehalfbox {
  position: relative;
  background: #fff;
  border: solid 1px #e6e6e6;
  width: 100%;
  vertical-align: top;
  min-height: 280px;
  margin-bottom: 20px
}

.whitehalfbox h4 {
  background: #b61f24;
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  line-height: 50px;
  border-bottom: solid 1px #e6e6e6
}

.whitehalfbox .paddingleftright {
  padding: 20px
}

.whitehalfbox p {
  font-size: 16px;
  color: #555
}

.whitehalfbox h4 a {
  float: right;
  padding-right: 20px;
  color: #fff;
  font-size: 20px
}

.whitehalfbox h4 a:hover {
  color: #ffbc00
}

.whitehalfbox .buttondiv {
  position: absolute;
  bottom: 0;
  background: #f6f6f6;
  width: 100%;
  min-height: 40px;
  border-top: solid 1px #e6e6e6
}

.whitehalfbox .buttondiv a {
  font-size: 14px;
  color: #b61f24;
  text-decoration: none;
  line-height: 40px;
  padding-left: 20px
}

.whitehalfbox .buttondiv a:hover {
  color: #000
}

.whitebutton {
  background: #fff;
  border: solid 1px #e0e0e0;
  border-radius: 0;
  padding: 10px 30px;
  font-size: 18px;
  color: #262626
}

.whitebutton:hover {
  color: #fff;
  background: #b61f24;
  border: solid 1px #b61f24
}

.whitebox {
  background: #fff;
  border: solid 1px #e0e0e0;
  min-height: 50px;
  padding: 20px
}

.whitebox h4 {
  margin: 0 0 20px 0
}

.whitebox label {
  color: #262626;
  font-size: 14px;
  font-weight: 400
}

.whitebox input[type=text], .whitebox input[type=email] {
  background: #fff;
  border: solid 1px #d1d1d1;
  box-shadow: none;
  padding: 25px 12px;
  font-size: 14px
}

.whitebox input[type=text]:focus.whitebox input[type=email]:focus {
  border: solid 1px #000
}

.whitebox a {
  font-size: 16px;
  color: #262626;
  text-decoration: none
}

.whitebox a i {
  color: #b61f24;
  font-size: 20px
}

.whitebox a:hover {
  color: #b61f24
}

.whitebox .buttonsave {
  min-width: 150px;
  background: #b61f24;
  border: solid 1px #b61f24;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px
}

.whitebox .buttonsave:hover {
  background: #fff;
  border: solid 1px #b61f24;
  color: #b61f24;
}

.myorders table {
  border: solid 1px #e0e0e0
}

.myorders table tbody tr:nth-child(odd) {
  background: #fff;
}

.myorders table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.myorders table th {
  background: #b61f24;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 10px !important;
  border: none !important
}

.myorders table td {
  color: #555;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 10px !important;
  border: none !important
}

.myorders .order-status {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  display: block;
  text-align: center;
  border-radius: 12px;
  padding: 7px 20px;
}

.myorders .order-status.order-pending {
  background: #faa51a;
}

.myorders .order-status.order-complete {
  background: #309519;
}

.myorders .order-status.order-cancel {
  background: #b61f24;
}

.myorders table td a {
  color: #555;
  margin-right: 5px
}

.myorders table td a:hover {
  color: #b61f24
}

.bottomlink {
  color: #b61f24;
  font-size: 16px
}

.bottomlink:hover {
  color: #000
}

.address-detail-list {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
}

.address-detail-list dd, .address-detail-list dt {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 8px;
}

.address-detail-list dt {
  width: 40%;
  font-weight: 700;
}

.address-detail-list dd {
  width: 60%;
}

.upload-pic-holder {
  margin: 0 0 40px;
}

.upload-pic-holder, .upload-pic-holder .upload-text-holder {
  overflow: hidden;
}

.upload-pic-holder .upload-image-holder {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.upload-pic-holder .upload-image-holder img {
  width: 100%;
  height: auto;
}

.upload-pic-holder .upload-text-holder {
  font-size: 18px;
  line-height: 22px;
  color: #555;
  padding: 38px 0 0;
}

.upload-pic-holder .upload-text-holder a {
  color: #555;
}

.upload-pic-holder .upload-text-holder a:hover {
  color: #b61f24;
}

.wishlist-items {
  overflow: hidden;
}

.wishlist-items .item-holder {
  margin: 0 0 60px;
}

.wishlist-items .item-image-holder {
  margin: 0 0 30px;
}

.item-image-holder img {
  display: inline-block;
  vertical-align: top;
}

.wishlist-items .item-name {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0 0 15px;
}

.wishlist-items .prices-holder {
  font-size: 0;
  letter-spacing: 0;
  font-weight: 700;
  color: #cacaca;
  margin: 0 0 25px;
}

.wishlist-items .prices-holder span {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  font-size: 18px;
  line-height: 22px;
}

.wishlist-items .prices-holder .current-price {
  color: #b61f24;
}

.wishlist-items .prices-holder .old-price {
  position: relative;
}

.wishlist-items .prices-holder .old-price:after {
  content: "";
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #cacaca;
}

.wishlist-items textarea {
  width: 100%;
  height: 55px;
  border: 1px solid #e0e0e0;
  resize: none;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  color: #a2a2a2;
  margin: 0 0 20px;
  background: none;
}

.wishlist-items textarea::-moz-placeholder {
  color: #a2a2a2;
  opacity: 1;
}

.wishlist-items textarea::-moz-placeholder {
  color: #a2a2a2;
  opacity: 1;
}

.wishlist-items textarea:-ms-input-placeholder {
  color: #a2a2a2;
}

.wishlist-items textarea::-ms-input-placeholder {
  color: #a2a2a2;
}

.wishlist-items textarea::placeholder {
  color: #a2a2a2;
}

.wishlist-items h4 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin: 0 0 15px;
}

.wishlist-items .add-to-cart-holder {
  overflow: hidden;
  margin: 0 0 15px;
}

.wishlist-items input[type="text"] {
  width: 70px;
  height: 40px;
  float: left;
  text-align: center;
  border: 1px solid #e0e0e0;
  font-size: 18px;
  line-height: 22px;
  color: #262626;
  font-weight: 700;
  background: none;
}

.wishlist-items input[type="text"]::-moz-placeholder {
  color: #262626;
  opacity: 1;
}

.wishlist-items input[type="text"]::-moz-placeholder {
  color: #262626;
  opacity: 1;
}

.wishlist-items input[type="text"]:-ms-input-placeholder {
  color: #262626;
}

.wishlist-items input[type="text"]::-ms-input-placeholder {
  color: #262626;
}

.wishlist-items input[type="text"]::placeholder {
  color: #262626;
}

.wishlist-items .btn-cart {
  float: right;
  padding: 8px 38px;
  font-size: 18px;
  line-height: 22px;
  color: #262626;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.wishlist-items .btn-cart:hover {
  background: #e0e0e0;
}

.wishlist-items .links-holder {
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
}

.wishlist-items .links-holder a {
  color: #555555;
  margin: 0 15px 0 0;
}

.wishlist-items .links-holder a:hover {
  color: #b61f24;
}

.wishlist-btns-holder .wishlist-btns-holder {
  letter-spacing: 0;
  font-size: 0;
}

.wishlist-btns-holder .btn {
  font-size: 15px;
  line-height: 22px;
  color: #262626;
  margin: 0 20px 0 0;
  padding: 11px 45px 11px;
  border: 1px solid #e0e0e0;
  border-radius: 0;
}

.wishlist-btns-holder .btn:hover {
  background: #b61f24;
  border-color: #b61f24;
  color: #fff;
}

.tsb-form .form-group {
  margin: 0 0 30px;
  position: relative;
}

.tsb-form .form-group:after {
  content: "";
  clear: both;
  display: block;
}

.tsb-form input[type="text"], .tsb-form input[type="email"], .tsb-form input[type="password"] {
  width: 100%;
  height: 47px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  padding: 10px 15px;
  color: #c0c0c0;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.25);
}

.tsb-form ::-webkit-input-placeholder {
  color: #c0c0c0;
}

.tsb-form :-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

.tsb-form ::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

.tsb-form :-ms-input-placeholder {
  color: #c0c0c0;
}

.tsb-form ::-ms-input-placeholder {
  color: #c0c0c0;
}

.tsb-form ::placeholder {
  color: #c0c0c0;
}

.tsb-form input[type="submit"] {
  min-width: 180px;
  padding: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  background: #b61f24;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}

.tsb-form input[type="submit"]:hover {
  color: #f7cc0d;
}

.tsb-form label {
  display: block;
}

.tsb-form label span {
  color: #c0c0c0;
  font-size: 13px;
  line-height: 17px;
  position: absolute;
  top: -10px;
  left: 16px;
  opacity: 0;
  background: #fff;
  padding: 0 5px 0 0;
  z-index: 1;
}

.tsb-form input[type="text"]:focus,
.tsb-form input[type="text"].populated,
.tsb-form input[type="email"]:focus,
.tsb-form input[type="email"].populated,
.tsb-form input[type="password"]:focus,
.tsb-form input[type="password"].populated {
  padding-top: 12px;
  padding-bottom: 9px;
}

.tsb-form input[type="text"]:focus::-moz-placeholder,
.tsb-form input[type="text"].populated::-moz-placeholder,
.tsb-form input[type="email"]:focus::-moz-placeholder,
.tsb-form input[type="email"].populated::-moz-placeholder,
.tsb-form input[type="password"]:focus::-moz-placeholder,
.tsb-form input[type="password"].populated::-moz-placeholder {
  color: transparent;
}

.tsb-form input[type="text"]:focus + span,
.tsb-form input[type="text"].populated + span,
.tsb-form input[type="email"]:focus + span,
.tsb-form input[type="email"].populated + span,
.tsb-form input[type="password"]:focus + span,
.tsb-form input[type="password"].populated + span {
  opacity: 1;
  top: -8px;
  left: 17px;
}

.tsb-form.edit-account-form input[type="text"], .tsb-form.edit-account-form input[type="email"], .tsb-form.edit-account-form input[type="password"] {
  background: #f9f9f9;
  box-shadow: none;
}

.tsb-form.edit-account-form label span, .tsb-form.newsletter-subsc-form label span {
  background: #f9f9f9;
}
/*.tsb-form .checkbox-label{padding: 0 0 0 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;cursor: pointer;position: relative;}*/
.tsb-form .checkbox-label, .tsb-form .radio-label {
  padding: 0 0 0 22px;
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  line-height: 17px;
  color: #848282;
}

.tsb-form .radio-label {
  color: #000;
}

.tsb-form .checkbox-label input, .tsb-form .radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .custom-checkbox, .radio-label .custom-radio {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  opacity: 1;
}

.radio-label .custom-radio {
  position: absolute;
  top: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  border: 1px solid #797979;
  border-radius: 100%;
  opacity: 1;
}

.radio-label .custom-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-label input:checked ~ .custom-radio:after {
  display: block;
}

.radio-label input:checked ~ .custom-radio {
  border-color: #b61f24;
}

.radio-label .custom-radio:after {
  left: 2px;
  top: 2px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #b61f24;
}

.checkbox-label .custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .custom-checkbox:after {
  display: block;
}

.checkbox-label .custom-checkbox:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #797979;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tsb-form .form-text-links {
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.tsb-form .form-text-links a {
  color: #000;
}

.tsb-form .form-text-links a:hover {
  color: #b61f24;
}

.tsb-form.edit-account-form .form-text-links {
  padding: 10px 0 0;
}

.checkbox-label .custom-checkbox {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  opacity: 1;
}

.checkbox-label .custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .custom-checkbox:after {
  display: block;
}

.checkbox-label .custom-checkbox:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #797979;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tsb-form.edit-account-form .form-text-links {
  padding: 10px 0 0;
}

.acount-payment-methods {
  padding:15px 0 0;
}

.tsb-form.acount-payment-methods .form-group {
  margin: 0 0 10px;
}







.my-reviews-holder .my-review-holder {
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

.my-reviews-holder .my-review-holder:last-child {
  margin: 0;
}

.my-reviews-holder .my-review-holder:last-child:after {
  display: none;
}

.my-reviews-holder .my-review-holder:after {
  height: 1px;
  content: "";
  position: absolute;
  left: -100%;
  right: -100%;
  bottom: 0;
  background: #e6e6e6;
}

.my-reviews-holder .product-image-holder {
  width: 95px;
  height: 95px;
  float: left;
  margin: 0 20px 0 0;
}

.my-reviews-holder .product-image-holder img {
  width: 100;
  height: auto;
}

.my-reviews-holder .review-text {
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  color: #838383;
}

.my-reviews-holder .stars-rating {
  letter-spacing: 0;
  font-size: 0;
}

.my-reviews-holder .stars-rating li {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 18px;
  color: #dcdcdc;
}

.my-reviews-holder .stars-rating li.active {
  color: #ffbc00;
}

.my-reviews-holder .product-name {
  font-weight: 700;
  display: block;
}

.my-reviews-holder .review-text p {
  margin: 0;
}

.my-reviews-holder .product-specs {
  margin: 0 0 5px;
}

.my-reviews-holder .thumbs-holder {
  font-weight: 700;
}

.my-reviews-holder .thumbs-holder .fa {
  font-size: 20px;
}

.tsb-product-widget {
  background: #fff;
  border: 1px solid #e6e6e6;
  margin: 0 0 30px;
}

.tsb-product-widget .image-holder {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.tsb-product-widget .image-holder a {
  display: inline-block;
  vertical-align: top;
}

.tsb-product-widget .image-holder img {
  width: 100%;
  height: auto;
}

.tsb-product-widget .image-holder .product-counter {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 45px;
  right: 15px;
  background: #b61f24;
  border-radius: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  padding: 5px 0 0;
}

.tsb-product-widget .product-detail {
  padding: 10px 20px;
}

.tsb-product-widget h2 {
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #2c3e50;
  margin: 0;
}

.tsb-product-widget h2 a {
  color: #2c3e50;
}

.tsb-product-widget h2 a:hover {
  color: #b61f24;
}

.tsb-product-widget .product-category-name {
  display: block;
  font-size: 10px;
  line-height: 14px;
  color: #b61f24;
}

.tsb-product-widget .product-rating {
  font-size: 12px;
  line-height: 15px;
  color: #ffbc00;
  overflow: hidden;
  margin: 0;
}

.tsb-product-widget .product-rating li {
  float: left;
  margin: 0 1px 0 0;
}

.tsb-product-widget .price-holder {
  font-size: 15px;
  line-height: 18px;
  color: #b61f24;
  overflow: hidden;
  margin: 0 0 15px
}

.tsb-product-widget .price-holder span {
  float: left;
  margin: 0 5px 0 0;
}

.tsb-product-widget .price-holder .old-price {
  position: relative;
  font-size: 12px;
  line-height: 20px;
  color: #959595;
}

.tsb-product-widget .price-holder .old-price:after {
  height: 1px;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #a1b1bc;
}

.newsletter-subsc-form {
  max-width: 370px;
}

.newsletter-subsc-form .back-btn {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding: 15px 0 0;
}

.newsletter-subsc-form .back-btn .fa {
  margin: 0 5px 0 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and ( max-width: 1199px ) {
  .wishlist-items .item-name, .wishlist-items .prices-holder span {
    font-size: 16px;
    line-height: 20px;
  }

  .wishlist-items .prices-holder {
    margin: 0 0 15px;
  }

  .wishlist-items input[type="text"] {
    width: 60px;
  }

  .wishlist-items .btn-cart {
    padding: 8px 15px;
  }
}

@media(max-width:1023px) {
  .whitebox .buttonsave, .whitebox .btn {
    width: 100%
  }

  .address-detail-list {
    font-size: 14px;
    line-height: 18px;
  }

  .navigation ul li a {
    padding: 0 10px;
  }

  .wishlist-btns-holder .wishlist-btns-holder {
    text-align: center;
  }

  .wishlist-btns-holder .btn {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 10px 0;
    padding: 8px 15px;
  }
}

@media(max-width:767px) {
  .navigation ul li a.active:after {
    display: none;
  }

  .customer-detail-block {
    min-height: auto;
  }

  .whitebox .buttonsave, .whitebox .btn {
    width: 100%
  }

  .whitehalfbox {
    min-height: auto;
    height: auto;
    padding: 0 0 40px;
  }

  .wishlist-btns-holder .btn {
    width: 100%;
    margin: 0 0 15px;
  }
}

@media only screen and ( max-width: 479px ) {
  .my-reviews-holder .product-image-holder {
    width: 100%;
    float: none;
    margin: 0 0 20px;
    text-align: center;
  }

  .my-reviews-holder .product-image-holder img {
    display: inline-block;
    vertical-align: top;
  }

  .whitehalfbox h4, .whitehalfbox .paddingleftright {
    padding: 10px;
  }

  .whitehalfbox h4, .whitehalfbox p {
    font-size: 14px;
    line-height: 18px;
  }

  .whitehalfbox h4 a {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }

  .whitehalfbox .buttondiv a {
    padding-left: 10px;
  }

  .bottomlink {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }

  .tsb-product-widget .btns-holder .tsb-btn, .tsb-product-widget .btns-holder .tsb-btn-secondary {
    width: 100%;
    margin: 0 0 5px;
    text-align: center;
  }

  .tsb-form input[type="submit"] {
    min-width: auto;
    padding: 10px 15px;
  }

  .newsletter-subsc-form .back-btn {
    padding: 10px 0 0;
  }

  .tsb-form .form-text-links {
    font-size: 16px;
    line-height: 20px;
  }
}
.paymentmethods-styling{font-weight:normal;margin:0;}
.paymentmethods-styling input[type=radio] {
  width: 20px;
  height: 20px;
  margin-right:10px
}
.paymentmethods-styling img {
  width: 60px;
  margin-right: 10px
}
