.best-sellers-product .image-product-sellers-sidebar { width: 82px; height: 82px }

.best-sellers-product .image-product-sellers-sidebar img { max-width: 100%; max-height: 100% }

.best-sellers-product .info-product-sellers-sidebar { width: calc(100% - 82px); padding: 0 0 0 10px }

.title-product-sellers-sidebar a { font-size: 14px; color: #6c6c6c; text-transform: uppercase; font-weight: 500 }

.best-sellers-product { margin: 10px 0 }

.title-product-sellers-sidebar { margin: 5px 0 }

.slide-on-sale-sidebar .product-category .image-product { width: 210px; height: 210px }

.label-on-sale { top: 0; right: 1px; z-index: 5; background: #e3171b; color: #fff; font-size: 12px; padding: 2px 8px; text-transform: uppercase; text-align: center }

.label-on-sale:before { position: absolute; content: ""; width: 0; height: 0; left: -12px; top: 0; border-bottom: 38px solid #e3171b; border-left: 12px solid transparent }

.button-add-cart-on-sale { display: block; text-align: center; margin: 0 auto; float: none; background: #e3171b; color: #fff; font-size: 16px; width: 150px; line-height: 40px }

.btn-slide-on-sale button { width: 60px; line-height: 30px; background: none; border: 1px solid #dedede; font-size: 20px; margin: 0 5px; outline: none }

.btn-slide-on-sale button:hover, .btn-slide-on-sale button:active { border: 1px solid #969696 }

.btn-slide-on-sale { margin: 20px 0 0 0; text-align: center }

.name-ranking-product .price-product { font-size: 16px; line-height: 20px; color: #b61f24; margin: 0 0 5px; }
.name-ranking-product .price-product .price-old { position: relative; padding: 2px 0 0; font-size: 12px; line-height: 16px; color: #adadad; }
.product-code { display: table }

.intro-product-detail { padding-bottom: 20px !important }

.title-tabs li { list-style: none; float: left; padding: 0; margin: 0 20px; line-height: 50px; font-size: 14px; color: #2b2b2b; cursor: pointer }

.active-title-tabs { color: #b61f24 !important }

.title-tabs li:first-child { margin: 0 20px 0 0 }

.title-tabs { margin: 0 0 -7px 0px; z-index: 9 }

.content-tabs-product-detail { display: none; opacity: 0; z-index: 8; font-size: 15px; line-height: 26px; color: #2b2b2b }

.active-tabs-product-detail { display: block; opacity: 1 }

.name-product { font-size: 24px; color: #2b2b2b; letter-spacing: 0.25px }

.product-code p:nth-of-type(1) { margin: 0 30px 0 0; padding: 0 30px 0 0 }

.product-code p:nth-of-type(1):before { width: 1px; height: 13px; background: #2b2b2b; content: ""; position: absolute; top: 2px; right: 0 }

.option-product-1 p, .option-product-2 .option-product-son p { margin: 8px 15px 0 0; font-size: 15px }

.option-product-2 .option-product-son input, .option-product-2 .option-product-son select { height: 28px; border: 1px solid #dedede; padding: 5px 10px; margin: 4px 0 0 0; outline: none; background: #f7f7f7 }

.option-product-2 .option-product-son input:focus, .option-product-2 .option-product-son select:focus { border: 1px solid #e3171b }

.btn-print a { color: #2b2b2b; font-size: 15px }

.btn-print a i { font-size: 19px }

.button-slide-related .owl-prev:nth-of-type(2), .button-slide-related .owl-next:nth-of-type(3), .nav-prev-detail .owl-next, .nav-prev-detail .owl-prev:nth-of-type(1), .nav-next-detail .owl-prev, .nav-next-detail .owl-next:nth-of-type(4) { display: none }

.button-slide-related { float: right; position: absolute; top: 0; right: 15px; z-index: 9; width: 120px }

.button-slide-related button { background: #fff; border: 1px solid #dedede; width: 45px; line-height: 36px; margin: 0 0 0 15px; font-size: 22px; float: left; cursor: pointer; outline: none; transition: 0.5s ease; -o-transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: 0.5s ease }

.title-slide-product-bottom { font-size: 18px; margin: 7px 0 30px 0 }

.button-slide-related button:hover { border: 1px solid #333 }

#owl-thumbnail-slide .slick-prev:before, #owl-thumbnail-slide .slick-next:before { font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 20px; line-height: 1; color: #000; width: 35px; padding: 6.5px 0; display: block; border: 1px solid #b3b2b2; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }

#owl-thumbnail-slide .slick-list { margin: 0 50px }

#owl-thumbnail-slide .slick-prev:before { content: "\f104" }

#owl-thumbnail-slide .slick-next { right: 15px }

#owl-thumbnail-slide .slick-next:before { content: "\f105" }

.top-product-detail { margin: 0 0 60px 0 }

.slide-related-product { margin-bottom: 60px }

.singleproduct .listicons { padding: 0; margin: 0; list-style: none }

.singleproduct .listicons li { display: inline-block; margin-right: 5px; }

.singleproduct .listicons li a { border: solid 1px #acacac; border-radius: 100%; width: 40px; height: 40px; line-height: 40px; font-size: 17px; text-align: center; display: block; color: #39393b; background: #fff }

.singleproduct .listicons li a:hover { border: solid 1px #b61f24; color: #fff; background: #b61f24 }

.singleproduct .shareicons { padding: 0; margin: 0; list-style: none }

.singleproduct .shareicons li { display: inline-block; margin-right: 5px }

.singleproduct .shareicons li a { border-radius: 3px; width: 25px; height: 25px; line-height: 25px; font-size: 15px; text-align: center; display: block; color: #fff; background: #fff }

.singleproduct .shareicons li a:hover { opacity: 0.8 }

.singleproduct .shareicons li a.facebook { background: #3e5990 }

.singleproduct .shareicons li a.twitter { background: #4788c0 }

.singleproduct .shareicons li a.google { background: #d73727 }

.info-box { margin: 0 20px 0 2px; padding: 0; width:100% }

.info-box .product-colors { margin-left: 17px; float: left; width: 75%; }

.info-box .sizelabel { line-height: 25px; float: left; min-width: 70px; padding: 2px 0 0 0; }

.product .info-box:last-child { margin-bottom: 0; padding-bottom: 0 }

.product .info-box > span { display: table-cell; vertical-align: middle; text-align: left }

.product .info-box > span:first-child { width: 35% }

.product .info-box strong { display: block; font-weight: 500 }

.product .product-colors { display: block }

.color-btn { cursor: pointer; display: block; float: left; position: relative; min-width: 25px; height: 29px; background-color: #fff; border: 1px solid #a6a6a6; margin-right: 3px; text-align: center; font-size: 12px; line-height: 23px; color: #a6a6a6; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 2px 3px; margin-bottom: 3px; }

.color-btn.checked { border-color: #b61f24; background-color: #b61f24; color: #fff }
/*.quantitybox{margin-top:9px}*/
.button-product-list ul li a.full { background: #ffbc00; width: auto; padding: 0 25px }

.info-box .product-colors2 { margin-left: 0 }

.color-btn2 { cursor: pointer; display: block; float: left; position: relative; width: 25px; height: 25px; background-color: #fff; border: 1px solid #a6a6a6; margin-right: 10px; text-align: center; font-size: 12px; line-height: 22px; color: #a6a6a6; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }

.color-btn3 { cursor: pointer; display: block; float: left; position: relative; min-width: 77px; padding: 0 10px; height: 25px; background-color: #fff; border: 1px solid #a6a6a6; margin-right: 10px; text-align: center; font-size: 12px; line-height: 22px; color: #a6a6a6; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-bottom: 5px }


.compare-product-section .heading-block { position: relative; padding: 0 90px 0 0; margin: 0 0 6px; overflow: hidden; }

.compare-product-section .btn { position: absolute; top: 7px; right: 0; padding: 12px 27px; font-size: 16px; line-height: 20px; }

.compare-product-section .table-wrapper { margin: 0 0 120px; }

.compare-product-table { width: 100%; border: 1px solid #d6d6d6; }

.compare-product-table tr td { width: 25%; padding: 20px 35px; border: solid #d6d6d6; border-width: 0 0 1px 1px; font-size: 14px; line-height: 24px; color: #424242; }

.compare-product-table tr td:first-child { border-left: none; }

.compare-product-table tbody tr:first-child td:first-child { border-bottom: none; }

.compare-product-table .product-image-holder { padding: 20px 0 18px; }

.compare-product-table .product-attribute { font-size: 18px; line-height: 22px; font-weight: 700; color: #424242; }

.compare-product-table .product-name { font-size: 22px; line-height: 26px; font-weight: 700; color: #333; }

.shopping-cart-form { padding: 0 0 110px; }

.cart-products-section { margin: 0 0 45px; }

.cart-products-section .table-wrapper { padding: 0 0 20px; border-bottom: 1px solid #ebebeb; }

.cart-products-table { width: 100%; }

.cart-products-table th, .cart-products-table td { width: 16.67%; padding: 15px 0; }

.cart-products-table thead tr th:first-child, .cart-products-table tbody tr td:first-child { width: 50%; }

.cart-products-table thead { border-bottom: 1px solid #ebebeb; }

.cart-products-table tbody tr td { padding: 20px 0; }

.cart-products-table th { padding: 14px 10px; font-size: 16px; line-height: 20px; color: #282828; }

.cart-products-table .product-detail-holder, .cart-products-table .product-text-holder { overflow: hidden; }

.cart-products-table .product-image-holder { margin: 0 25px 0 0; border: 1px solid #ebebeb; }

.cart-products-table .product-title { font-size: 14px; line-height: 18px; color: #282828; display: block; }

.cart-products-table .product-text-holder { padding: 0 15px 0 0; }

.cart-products-table .product-text-holder, .cart-products-table .product-size { font-size: 14px; line-height: 24px; color: #a6a6a6; }

.cart-products-table .product-size { font-weight: 400; }

.cart-products-table .product-size .size-value { color: #282828; display: inline-block; vertical-align: top; padding: 0 0 0 2px; }

.cart-products-table .total-price-holder { position: relative; }

.cart-products-table .product-price, .cart-products-table .total-price { font-size: 14px; line-height: 18px; color: #282828; }

.cart-products-table .btn-delete { position: absolute; top: 0; right: 15px; font-size: 14px; color: #a6a6a6; }

.input-number-group .input-number { appearance: textfield; -o-appearance: textfield; -ms-appearance: textfield; -moz-appearance: textfield; -webkit-appearance: textfield; }

.input-number-group, .input-number-group .input-number, .input-number-group .input-group-button { display: inline-block; vertical-align: top; }

.input-number-group { border: 1px solid #a6a6a6; padding: 5px 15px; }

.input-number-group .input-number { font-size: 14px; line-height: 18px; border: none; width: 40px; height: auto; padding: 5px 0; text-align: center; }

.input-number-group .input-group-button span { font-size: 14px; line-height: 18px; background: none; border: none; width: auto; height: auto; display: inline-block; vertical-align: top; cursor: pointer; padding: 5px; }

.shopping-cart-form .form-group { margin: 0 0 20px; }

.shopping-cart-form .shipping-block h4 { margin: 0 0 30px; text-transform: uppercase; }

.shopping-cart-form .input-holder { border: 1px solid #ebebeb; overflow: hidden; }

.shopping-cart-form .input-holder.select-holder { position: relative; }

.shopping-cart-form .input-holder.select-holder:after { width: 30px; height: 30px; font-size: 14px; line-height: 17px; color: #a6a6a6; font-family: FontAwesome; content: "\f107"; position: absolute; top: 4px; right: -5px; }

.shopping-cart-form select, .shopping-cart-form input[type="text"] { width: 100%; height: 28px; padding: 0 10px; font-size: 13px; line-height: 17px; color: #a6a6a6; border: none; background: none; outline: none; box-shadow: none; float: left; appearance: none; -o-appearance: none; -ms-appearance: none; -moz-appearance: none; -wekit-appearance: none; position: relative; z-index: 1; }

.shopping-cart-form select option { padding: 2px 10px; }

.shopping-cart-form .btn-check { display: inline-block; vertical-align: top; border: 1px solid #ebebeb; font-size: 14px; line-height: 18px; color: #282828; padding: 5px 30px; }

.shopping-cart-form .btn-check:hover { background: #ebebeb; }

.shopping-cart-form ::-webkit-input-placeholder { color: #a6a6a6; }

.shopping-cart-form :-moz-placeholder { color: #a6a6a6; opacity: 1; }

.shopping-cart-form ::-moz-placeholder { color: #a6a6a6; opacity: 1; }

.shopping-cart-form :-ms-input-placeholder { color: #a6a6a6; }

.shopping-cart-form ::-ms-input-placeholder { color: #a6a6a6; }

.shopping-cart-form ::placeholder { color: #a6a6a6; }

.cart-total-section .table-wrapper { margin: 0 0 25px; }

.cart-total-section .table-wrapper { border: 1px solid #ebebeb; padding: 0 40px; }

.cart-total-table { width: 100%; }

.cart-total-table tr { border-bottom: 1px solid #ebebeb; }

.cart-total-table tr td { width: 30%; padding: 20px 0; font-size: 14px; line-height: 18px; color: #282828; font-weight: 700; text-align: right; }

.cart-total-table tr td:first-child { width: 70%; font-weight: 400; text-align: left; }

.cart-total-table tbody tr:last-child td:last-child { color: #b61f24; }

.cart-total-table tbody tr:last-child td { border: none; font-weight: 700; }

.shopping-cart-form input[type="submit"] { padding: 9px 40px; font-size: 14px; line-height: 18px; color: #fdfdfd; }

.rating-section { margin: 0 0 90px; }

.product-rating-block { position: relative; }

.product-rating-block:after { content: ""; clear: both; display: block; }

.product-rating-block:before { width: 2px; content: ""; background: #d7d7d7; position: absolute; top: 0; right: -20px; bottom: 0; }

.product-rating-block .rating-counter-block { width: 33%; float: left; }

.product-rating-block .rating-details-block { width: 66.67%; float: left; }

.product-rating-block .rating-title { display: block; font-size: 14px; line-height: 18px; color: #333333; margin: 0 0 12px; }

.product-rating-block .rating-result { font-size: 28px; line-height: 32px; font-weight: bold; color: #333333; display: block; margin: 0 0 15px; }

.product-rating-block .rating-result .max-rating { font-size: 20px; line-height: 24px; color: #cccccc; }

.product-rating-block .five-star-rating { font-size: 25px; line-height: 29px; color: #ffbc00; }

.product-rating-block .rating-text { font-size: 12px; line-height: 14px; color: #333333; }

.rating-details-block .rating-prgress { font-size: 0; letter-spacing: 0; }

.rating-details-block span { display: inline-block; vertical-align: top; line-height: 1px; }

.rating-details-block .rating-text { width: 12%; font-size: 14px; line-height: 18px; color: #333333; }

.rating-details-block .rating-progress { width: 60%; padding: 5px 10px 0 0; }

.rating-details-block .rating-progress-outer { width: 100%; height: 6px; border-radius: 3px; overflow: hidden; background: #cccccc; }

.rating-details-block .rating-progress-inner { width: 50%; height: 100%; background: #b61f24; }

.rating-details-block .rating-value { width: 16.67%; font-size: 14px; line-height: 18px; color: #a1a1a1; }

.write-review-block { font-size: 14px; line-height: 18px; color: #333333; }

.write-review-block .stars-rating { font-size: 25px; line-height: 29px; color: #cccccc; margin: 0 0 15px; }

.write-review-block .stars-rating { overflow: hidden; }

.write-review-block .btn-write-review { display: inline-block; vertical-align: top; font-size: 16px; line-height: 20px; color: #fff; padding: 12px 25px; background: #b61f24; }

.write-review-block .btn-write-review:hover { color: #ffbc00; }

.all-reviews-section { margin: 0 0 45px; }

.all-reviews-section h4 { margin: 0 0 13px; }

.all-reviews-section .stars-time-holder { overflow: hidden; }

.all-reviews-section .posted-time { font-size: 13px; line-height: 16px; color: #d1d1d1; }

.all-reviews-section .rated-stars { font-size: 15px; line-height: 19px; color: #ffbc00; }

.all-reviews-section .all-reviews { border-bottom: 1px solid #d7d7d7; }

.all-reviews-section .all-reviews li { position: relative; padding: 10px 0 0; margin: 0 0 10px; border-top: 1px solid #d7d7d7; }

.all-reviews-section .all-reviews, .all-reviews-section .by, .all-reviews-section .family { font-size: 14px; line-height: 18px; color: #838383; }

.all-reviews-section .all-reviews p { margin: 0; }

.all-reviews-section .famimly, .all-reviews-section .number-of-likes { display: block; }

.all-reviews-section .number-of-likes { font-size: 20px; line-height: 23px; color: #838383; padding: 2px 0 0; }

.all-reviews-section .number-of-likes .like-counter { font-size: 14px; line-height: 17px; font-weight: 700; margin: 0 0 0 3px; }

.all-reviews-section .ellipsis-icon { position: absolute; right: 0; bottom: 0; color: #d1d1d1; font-size: 20px; }

.reviews-pagination { margin: 0 0 90px; }

.reviews-pagination .paginaton-text { display: inline-block; vertical-align: top; padding: 10px 10px 0 0; font-size: 14px; line-height: 18px; color: #282828; }

.reviews-pagination .pagging { margin: 0; display: inline-block; vertical-align: top; }

.signInModal .modal-dialog { width: 1050px; border-radius: 7px; overflow: hidden; }

.signInModal .modal-header { background: #b61f24; padding: 25px 30px 23px; border: none; }

.signInModal h5 { font-size: 24px; line-height: 28px; color: #fff; margin: 0; }

.signInModal .modal-header .close { width: 28px; height: 28px; background: #7f1619; border-radius: 100%; padding: 0 2px; color: #b61f24; font-size: 23px; line-height: 23px; position: absolute; top: 10px; right: 10px; }

.signInModal .modal-body { overflow: hidden; padding: 40px 30px; display: table; width: 100%; }

.signInModal .modal-body .modal-col { width: 50%; position: relative; display: table-cell; vertical-align: middle; }

.signInModal .modal-body .modal-col:first-child { padding: 0 50px 0 0; }

.signInModal .modal-body .modal-col:last-child { padding: 0 0 0 50px; }

.signInModal .modal-body .modal-col:first-child:after { width: 1px; content: ""; position: absolute; top: 0; right: 0; bottom: 0; background: #d1d1d1; }

.signInModal .modal-heading { display: block; font-size: 24px; line-height: 28px; color: #333333; margin: 0 0 25px; }

.signInModal .form-group { margin: 0 0 20px; position: relative; }

.signInModal .form-group:after { content: ""; clear: both; display: block; }

.signInModal .form-group.no-margin { margin: 0; }

.signin-form label { display: block; }

.signin-form input[type="text"], .signin-form input[type="email"], .signin-form input[type="password"] { width: 100%; height: 47px; outline: none; box-shadow: none; border: 1px solid #d1d1d1; border-radius: 4px; font-size: 14px; line-height: 18px; color: #c0c0c0; padding: 12px 19px 10px; }

.signin-form label span { color: #c0c0c0; font-size: 14px; line-height: 18px; position: absolute; top: -10px; left: 16px; opacity: 0; background: #fff; padding: 0 5px 0 0; z-index: 1; }

.signin-form input[type="text"]:focus,
.signin-formform input[type="text"].populated,
.signin-form input[type="email"]:focus,
.signin-form input[type="email"].populated,
.signin-form input[type="password"]:focus,
.signin-form input[type="password"].populated { padding-top: 12px; padding-bottom: 9px; }

.signin-form input[type="text"]:focus::-moz-placeholder,
.signin-form input[type="text"].populated::-moz-placeholder,
.signin-form input[type="email"]:focus::-moz-placeholder,
.signin-form input[type="email"].populated::-moz-placeholder,
.signin-form input[type="password"]:focus::-moz-placeholder,
.signin-form input[type="password"].populated::-moz-placeholder { color: transparent; }

.signin-form input[type="text"]:focus + span,
.signin-form input[type="text"].populated + span,
.signin-form input[type="email"]:focus + span,
.signin-form input[type="email"].populated + span,
.signin-form input[type="password"]:focus + span,
.signin-form input[type="password"].populated + span { opacity: 1; top: -10px; }

.signin-form .close-icon { position: absolute; top: 25%; right: 10px; color: #b61f24; }

.signin-form .form-label { font-size: 14px; line-height: 18px; float: left; position: relative; }

.signin-form .form-label:after { width: 12px; height: 12px; content: ""; border: 1px solid #d1d1d1; border-radius: 2px; position: absolute; top: 5px; right: -20px; }

.signin-form input[type="checkbox"] { float: left; appearance: none; -o-appearance: none; -ms-appearance: none; -moz-appearance: none; -wekbit-appearance: none; }

.signin-form input:checked + label:after { content: "\f00c"; font-family: FontAwesome; }

.signin-form input[type="submit"] { width: 100%; padding: 12px 15px; background: #b61f24; text-align: center; font-size: 18px; line-height: 22px; font-weight: bold; color: #fff; border: none; outline: none; box-shadow: none; border-radius: 4px; transition: all ease-in-out 0.2s; -o-transition: all ease-in-out 0.2s; -ms-transition: all ease-in-out 0.2s; -moz-transition: all ease-in-out 0.2s; -webkit-transition: all ease-in-out 0.2s; margin: 0 0 10px; }

.signin-form input[type="submit"]:hover { color: #ffbc00; }

.signInModal .links-holder { font-size: 14px; line-height: 18px; }

.signInModal .links-holder a { color: #b61f24; }

.signInModal .links-holder .sign-up-link { margin: 0 0 0 10px; }

.signInModal .social-login-block { font-size: 18px; line-height: 22px; color: #797979; }

.signInModal .social-login-heading { font-size: 24px; line-height: 28px; color: #333333; margin: 0 0 10px; display: block; }

.signInModal .social-login-buttons { font-size: 14px; line-height: 18px; }

.signInModal .social-login-buttons a { color: #fff; }

@media only screen and ( max-width: 1024px ) {
  .compare-product-section .heading-block { padding: 0 80px 0 0; }

  .compare-product-section .btn { padding: 12px 22px; top: 12px; }

  .cart-products-table { width: 940px; }

  .table-wrapper { overflow-x: scroll; }

  .compare-product-table { margin: 0 0 15px; }

  .compare-product-table tr td { padding: 10px; }

  .compare-product-table .product-attribute { font-size: 16px; line-height: 20px; }

  .compare-product-table .product-name { font-size: 18px; line-height: 22px; }

  .compare-product-section .table-wrapper { margin: 0 0 80px; }

  .shopping-cart-form { padding: 0 0 80px; }

  .cart-total-section .table-wrapper { padding: 0 25px; }

  .product-rating-block { margin: 0 0 30px; }

  .rating-details-block .rating-progress { width: 70%; }

  .rating-section, .reviews-pagination { margin: 0 0 30px; }
}

@media only screen and ( max-width: 767px ) {
  .compare-product-section .table-wrapper { margin: 0 0 30px; }

  .shopping-cart-form .form-group { margin: 0; }

  .shopping-cart-form .input-holder { margin: 0 0 15px; }

  .shipping-block .shipping-section { margin: 0 0 15px; }

  .shopping-cart-form .shipping-block h4 { margin: 0 0 15px; }

  .shopping-cart-form { padding: 0 0 30px; }

  .cart-total-section .table-wrapper { padding: 0 15px; }
}

@media only screen and ( max-width: 599px ) {
  .product-rating-block { margin: 0; }

  .product-rating-block .rating-counter-block, .product-rating-block .rating-details-block { width: 100%; float: none; margin: 0 0 20px; }
}

@media only screen and ( max-width: 479px ) {
  .compare-product-section .table-wrapper { margin: 0 0 15px; }

  .shopping-cart-form { padding: 0 0 15px; }

  .rating-details-block .rating-prgress { margin: 0 0 5px; }

  .rating-details-block .rating-text, .rating-details-block .rating-progress, .rating-details-block .rating-value { display: block; width: 100%; }

  .rating-details-block .rating-progress { padding: 0; }
}



.bg-gray-single { background: #f2f2f2 !important; border: solid 1px #e0dad5 !important; height: auto !important; }

.getintouch, .getintouch li { padding: 0; margin: 0; list-style: none }

.getintouch { margin: 10px 0 }

.getintouch li { margin-bottom: 10px }

.getintouch li i { top: 0; position: relative; display: inline-block; margin-right: 10px; border: solid 1px #b61f24; border-radius: 100%; width: 20px; height: 20px; text-align: center; line-height: 17px; color: #b61f24; font-size: 10px; vertical-align: top }

.getintouch li label { display: inline-block; font-weight: 400; width: 80% }




.title-category-page { font-size: 24px; color: #2b2b2b; border-bottom: 2px solid #e3171b; display: inline-block; line-height: 48px; box-sizing: border-box; padding: 0 }

.right-category-bar { display: flex; flex-direction: row; justify-content: flex-end }

.right-category-bar p { font-size: 15px; margin: 0px 15px 0 0 }

.right-category-bar p, .right-category-bar a { color: #2b2b2b }

.right-category-bar a { font-size: 22px; margin: 2px 0 0 5px }

.right-category-bar > * { line-height: 50px }

.icon-bar-category { padding: 9px }

.right-category-bar a:hover, .active-view-bar { text-decoration: none; color: #e3171b !important }

.banner-top-category-page img { max-width: 100%; max-height: 100% }

.product-category-list { display: flex; flex-direction: row }

.product-category-list .image-product { margin: 0 }

.info-product-list { width: calc(100% - 270px); padding: 0 0 0 20px }

.product-category-list .ranking-product-category { float: none }

.product-category-list .price-product { display: block; padding: 12px 0; margin: 0 }

.intro-product-category { font-size: 15px; line-height: 26px }

.product-category-list .title-product a { font-size: 16px; letter-spacing: 0.25px }

.button-product-list ul li { list-style: none; float: left; margin: 0 10px 0 0 }

.button-product-list ul li a { background: #d6d6d6; color: #fff; font-size: 16px; width: 40px; text-align: center; line-height: 40px; display: block }

.button-product-list ul li:first-child a { background: #e3171b; width: auto; padding: 0 25px }

.button-product-list ul li:not(:first-child):hover a { background: #333 }

.button-product-list { margin: 10px 0 40px 0 }

.info-product-list .title-product { margin: 20px 0 0 0 }

.product-category .image-product:hover { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none }

@media(max-width:991px) {
  .product-category .image-product { max-width: calc(100% + 30px) }
}

.prod-det-brand-logo { width: 30px; display: inline-block; vertical-align: top; }
.prod-det-brand-logo img { width: 100%; height: auto; }
.product-meta-info-row { overflow: hidden; }


/*zoomer css*/
.img-zoom-container { margin: 0; display: block; height: 100%; width: 390px; max-height: 404px !important; position: relative; /*overflow: hidden;*/ }
.img-zoom-container .picturediv { overflow: hidden; width: 100%; height: 404px !important; }
.img-zoom-container .picturediv img { margin: auto; width: auto !important; height: 404px !important; max-width: unset !important; }
.img-zoom-container .megadrop { opacity: 0; visibility: hidden; position: absolute; list-style: none; top: 0; left: 390px; width: 765px; max-height: 390px; text-align: left; padding: 0; z-index: 9999999999; overflow: hidden; background: rgba(255, 255, 255, 0.99); border: solid 1px #ccc; }
.img-zoom-container:hover .megadrop { opacity: 1 !important; visibility: visible !important; }


/*Jquery zommer css*/

.img-zoom-lens { position: absolute; border: 1px solid #d4d4d4; /*set the size of the lens:*/ width: 100px !important; height: 100px !important; }

.img-zoom-result { border: 1px solid #d4d4d4; /*set the size of the result div:*/ height: 500px; background-repeat: no-repeat !important; }
.zoom-in { cursor: zoom-in; }
@media only screen and ( max-width: 413px ) {
.sizelabel,.product-colors{width:100%!important;margin: 0!important;}
}
