
<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="navigation">
    <ul class="list-unstyled">
      <li><a [class.active]="activeLi=='/customer'" href="javascript:void(0)" [routerLink]="['/customer']">Account Dashboard</a></li>
      <li><a [class.active]="activeLi=='/my-orders'" href="javascript:void(0)" [routerLink]="['/my-orders']">My Orders</a></li>
      <li><a [class.active]="activeLi=='/wish-List'" href="javascript:void(0)" [routerLink]="['/wish-List']">My Wish List</a></li>
      <li><a [class.active]="activeLi=='/address-book'" href="javascript:void(0)" [routerLink]="['/address-book']">Address Book</a></li>
      <li><a [class.active]="activeLi=='/profile-update'" href="javascript:void(0)" [routerLink]="['/profile-update']">Account Information</a></li>
      <li><a [class.active]="activeLi=='/payment-methods'" href="javascript:void(0)" [routerLink]="['/payment-methods']">Payment Methods</a></li>
      <li><a [class.active]="activeLi=='/my-reviews'" href="javascript:void(0)" [routerLink]="['/my-reviews']">My Reviews</a></li>
      <li><a [class.active]="activeLi=='/recomended-product'" href="javascript:void(0)" [routerLink]="['/recomended-product']">Recommended Products</a></li>
    </ul>
  </div>
  <!--<h3><strong>Compare Products</strong></h3>
  <p>You have no items to compare.</p>-->
</div>
