<div class="container-web relative">
  <div class="container relative">
    <div class="row">
      <div class="relative menu-slide clear-padding bottom-margin-default homepage-bottom-margin-default">
        <!-- Menu -->

        <app-category-menu-items></app-category-menu-items>

        <!-- Slide -->
        <div class="slide-box-home slide-v1 relative">
          <carousel [noPause]="false">
            <slide *ngFor="let bannerSliderImage of bannerSliderImages" class="animated fadeIn">
              <figure class="slider__item">
                <a href="{{bannerSliderImage.url}}" target="_blank"><img src="{{bannerSliderImage.imagePath}}" onError="this.onerror=null; this.src='/no-image.png';" /></a>
              </figure>
            </slide>
          </carousel>
        </div>

        <div class="box-banner-small-v1 box-banner-small text-center">
          <h4>Deal of the Month</h4>
          <div class="slide-home-deal">
            <carousel [noPause]="false">
              <slide *ngFor="let product of products" class="animated fadeIn">
                <figure class="item">
                    <div class="heading-holder">
                      <!--<a [routerLink]='["/product-detail/", product.productID]'><strong class="deal-product-category">{{product.name}}</strong></a>-->
                      <a [routerLink]='["/product/", product.url]'><strong class="deal-product-name">{{product.name}}</strong></a>
                      <br/><br />
                    </div>
                    <div class="deal-image-holder">
                      <a [routerLink]='["/product", product.url]'><img src="{{product.productDefaultImage}}" alt="Product" onError="this.onerror=null;this.src='/no-image.png';" /></a>
                    </div>
                    <div class="deal-product-price-holder text-center">
                      <span class="current-price">{{product.salePrice | currencyConversion:DummyCounter}}</span>
                      <span class="old-price">{{product.regularPrice | currencyConversion:DummyCounter}}</span>
                    </div>
                </figure>
              </slide>
            </carousel>
          </div>
          <div class="countdown-div">
            <strong>Hurry Up</strong>
            <br>
            <ul class="countdown">
              <li>{{days}}</li>
              <li>{{hours}}</li>
              <li>{{mints}}</li>
              <li>{{sec}}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Menu & Slide -->
      <!--<div class="clearfix amazingdeals">
        <a href="#">
          <img src="../assets/images/amazingdeals.png" alt="" />
        </a>
      </div>-->
    </div>
  </div>
</div>
