<div class="clearfix menu-web menu-mobile relative">
  <ul class="menu">
    <div class="arrow-border"></div>
    <li *ngFor="let first of displayCategoryList">
      <!--<a [routerLink]='["/products/category/1", first.categoryID]'>
        <i class={{first.iconClass}}></i>
        <p>{{first.categoryName }}</p>
      </a>-->
      <a href="/{{first.url}}">
        <i class={{first.iconClass}}></i>
        <p>{{first.categoryName }}</p>
      </a>
      <div class="megadrop">
        <section class="menu-widget" *ngFor="let second of first.subCategory">
          <h3><a href="/{{second.url}}">{{ second.categoryName }}</a></h3>
          <ul>
            <li *ngFor="let third of second.subCategory"><a href="/{{third.url}}">{{ third.categoryName }}</a></li>
          </ul>
          <hr />
        </section>
      </div>
    </li>
  </ul>
</div>


